/target/
/repository/
/tomcat.8080/
/derby.log
/src/main/webapp/log/mineSQL.log
/tomcat.8081/work/Tomcat/localhost/_/org/apache/jsp/menus/databases_jsp.java
/tomcat.8081/work/Tomcat/localhost/_/org/apache/jsp/menus/filtri_jsp.java
/tomcat.8081/work/Tomcat/localhost/_/org/apache/jsp/menus/filtri_jsp.class
/tomcat.8081/work/Tomcat/localhost/_/org/apache/jsp/autogrid/auto_002dtable_jsp.class
/tomcat.8081/work/Tomcat/localhost/_/org/apache/jsp/autogrid/auto_002djson_jsp.class
/tomcat.8081/work/Tomcat/localhost/_/org/apache/jsp/index_jsp.class
/tomcat.8081/work/Tomcat/localhost/_/org/apache/jsp/menus/databases_jsp.class
/tomcat.8081/work/Tomcat/localhost/_/org/apache/jsp/autogrid/auto_002djson_jsp.java
/tomcat.8081/work/Tomcat/localhost/_/org/apache/jsp/autogrid/auto_002dexcel_jsp.java
/tomcat.8081/work/Tomcat/localhost/_/org/apache/jsp/index_jsp.java
/tomcat.8081/work/Tomcat/localhost/_/org/apache/jsp/autogrid/auto_002dtable_jsp.java
/tomcat.8081/work/Tomcat/localhost/_/org/apache/jsp/autogrid/auto_002dexcel_jsp.class